.mainAboutMe {
  animation: fadeIn 2s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 130px;
}

@keyframes fadeIn {
  0% { 
    opacity: 0;
    filter: blur(20px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
}

.leftAboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 375px;
  margin-right: 20px;
}

.rightAboutMe {
  display: flex;
  flex-direction: column;
  margin-right: 375px;
  margin-left: 20px;
}

.tecnologiesAboutMe {
  margin-top: 60px;
}

.picture {
  border-radius: 20px;
  box-shadow: 5px 4px 9px 2px rgba(84,75,75,0.75);
  -webkit-box-shadow: 5px 4px 9px 2px rgba(84,75,75,0.75);
  -moz-box-shadow: 5px 4px 9px 2px rgba(84,75,75,0.75);
  width: 400px;
  height: auto;
}

.titleAboutMe {
  font-size: 40px;
  font-family: 'Midwinter', Roboto, sans-serif;
}