body {
  margin: 0px;
	background-image: url("../src/assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  position: center center;
}

h1, h3 {
  color:rgb(43, 41, 41);
  font-family: 'Midwinter', Roboto, sans-serif;
}

@font-face {
  font-family: 'Midwinter';
  src: url('../src/assets/Midwinter-qZ3g5.ttf');
}